# Version bot
VERSION_BOT=v3.0.0 Beta Build 2

# TOKENS AND API KEYS
# discord: https://discord.com/developers/applications/
DISCORD_BOT_TOKEN=
# deepinfra for image generatons: https://deepinfra.com/dash/api_keys
DEEPINFRA_API_KEY=

# SYSTEM SETTINGS
LOGGING=True 								# Enable logging bot?
DISCORD_CHANNEL_ID=							# System discord ChannelID
MODEL=gpt-4o-mini 							# Default AI Model
MAX_HISTORY_LENGTH=30  						# Max history (Not recommended > 30)
CACHE_ENABLED=True  						# Enable caching?