discord.py==2.5.2
audioop-lts; python_version>='3.13'
python-dotenv==1.0.1
asgiref==3.8.1
aiofiles==24.1.0
beautifulsoup4==4.13.3
duckduckgo-search==7.5.2
pymupdf==1.25.4
cryptography==44.0.2
g4f==0.4.8.6
